
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("获取access_token", "get_access_token", new { area = "Areas" },null)
@Html.ActionLink("获取微信服务器IP地址", "getcallbackip", new { area = "Areas" },null)

